<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/unobtrusive-jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/toastr")
    @Scripts.Render("~/bundles/toastr")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/custom")
    <meta name="description" content="Cargo system - Deliver with ease" />
</head>
<body>    
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cargo system", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    @if (this.User != null && this.User.Identity != null && this.User.Identity.IsAuthenticated && this.User.IsInRole(CargoSystem.Common.GlobalConstants.CarrierRoleName))
                    {
                        <li>@Html.ActionLink("Offers", "Index", "Offer", new { area = "Carrier" }, new { @class = "navbar-brand" })</li>
                    }
                    else if (this.User != null && this.User.Identity != null && this.User.Identity.IsAuthenticated && this.User.IsInRole(CargoSystem.Common.GlobalConstants.AdministratorRoleName))
                    {
                        <li>@Html.Action("Menu", "Admin", routeValues: new { Area = "Administration" })</li>
                    }
                    <li>@Html.ActionLink("Feedback", "Create", "Feedback", new { area = "" }, null)</li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @if (this.User != null && this.User.Identity != null && this.User.Identity.IsAuthenticated)
    {
        <div id="notification-bar" class="container"></div>
        <script type="text/javascript">
            $(document).ready(function () {
                loadNotifications();
            });

            function loadNotifications() {
                $('#notification-bar').load("http://" + window.location.host + "/Notification/LoadBar", function () {
                    count = setTimeout(loadNotifications, 5000)
                });
            }
        </script>
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cargo System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
